* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f2f2f2;
}

header {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

.controls {
    margin-top: 15px;
}

input, select {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

/* Car Cards Grid */
.car-container {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.car-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.car-card:hover {
    transform: scale(1.05);
}

.car-card img {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
    margin-top: 40px;
}
