body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 150px auto;
    padding: 25px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    box-shadow: 0 0 15px #00000055;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    width: 95%;
    padding: 10px;
    background: #ff3d00;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #d83200;
}

.title {
    margin-top: 30px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    color: black;
    width: 250px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 15px #00000055;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background: crimson;
}
